<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main</title>
    <script>
      function logout() {
        console.log("test2");
        location.href = "/login";
      }
    </script>
    <style>
      .title {
        text-align: center;
        margin-top: 100px;
      }
    </style>
  </head>

  <body>
    <div>
      <button onclick="logout()">Logout</button>
    </div>
  </body>
</html>
