<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <script>
      function login() {
        console.log("test");
        location.href = "/";
      }
    </script>
    <style>
      .title {
        text-align: center;
        margin-top: 100px;
      }
    </style>
  </head>

  <body>
    <div>
      <div>
        <input id="inputEmail" type="email" placeholder="name@example.com" />
      </div>
      <div>
        <input id="inputPassword" type="password" placeholder="Password" />
      </div>
      <div>
        <button onclick="login()">Login</button>
      </div>
    </div>
  </body>
</html>
